Criando uma String

In [1]:
"Oi"

'Oi'

In [2]:
'Criando uma string em Python' #Python aceitar criar strings com aspas simples ou duplas

'Criando uma string em Python'

In [ ]:
"Testando ambas 'aspas'" #É possível combinar ambas aspas, mas não se pode utilizar o mesmo tipo de aspas na mesma string

"Testando ambas 'aspas'"

In [4]:
'Testando ambas 'aspas''

SyntaxError: invalid syntax (122863305.py, line 1)

Imprimindo um String

In [5]:
print('Testando Strings em Python')

Testando Strings em Python

In [7]:
print('Testando \n Strings \n em \n Python') #\n é o mesmo que "pular linha", mas é preciso ficar atento que o "espaço" também é um caracter e será impresso, mesmo que tenha sido apenas para melhorar a visibilidade do código

Testando
 Strings
 em
 Python

Indexando Strings

In [8]:
s = 'Data Science Academy'

In [9]:
print(s)

Data Science Academy

Index começa em zero

In [10]:
s[0]

'D'

In [11]:
s[1]

'a'

In [12]:
s[2]

't'

In [13]:
s[3]

'a'

In [14]:
s[4] #O "espaço" também ganha um index

' '

Podemos usar um : para executar o "slicing", que faz uma leitura e retorno até o pronto designado

In [23]:
s[1:] #Dará o retorno de desde o index 1

'ata Science Academy'

In [ ]:
s[:3] #Dará o retorno até o index 3, o index 3 se torna exclusivo

'Dat'

In [24]:
s[:4]

'Data'

In [ ]:
s[-1] #Podemos usar números negativos para dar retorno na direção inversa

'y'

In [30]:
s[:-1]

'Data Science Academ'

Ao usar ::, podemos mudar a frequência do retorno de elementos

In [31]:
s[::1] #Padrão

'Data Science Academy'

In [ ]:
s[::2] #Os "espaçoes" são ignorados

'Dt cec cdm'

In [33]:
s[::-1] #Temos o retorno de dos elementos de trás para frentes

'ymedacA ecneicS ataD'

Propriedades de Strings

In [ ]:
s #Todas as mudanças feitas anteriormente acontecerem apenas na memória e não alteraram a string original

'Data Science Academy'

In [35]:
s[0] = 'x' #Não permitirá a mudança do caracter, pois a string é imutável

TypeError: 'str' object does not support item assignment

In [37]:
s + ' é uma boa plataforma para estudar Ciência de Dados!'

'Data Science Academy é uma boa plataforma para estudar Ciência de Dados!'

In [38]:
s = s + ' é uma boa plataforma para estudar Ciência de Dados!'

In [39]:
s

'Data Science Academy é uma boa plataforma para estudar Ciência de Dados!'

In [40]:
letra = 'w'

In [ ]:
letra * 3 #É possível fazer multiplicação de string para criar repetições (mas é preciso de análise prévia para evitar erros ou se realmente é necessário utilizar esse mecanismo)

'www'

Funções Built-in de Strings

In [42]:
s

'Data Science Academy é uma boa plataforma para estudar Ciência de Dados!'

In [43]:
s.upper()

'DATA SCIENCE ACADEMY É UMA BOA PLATAFORMA PARA ESTUDAR CIÊNCIA DE DADOS!'

In [45]:
s.lower()

'data science academy é uma boa plataforma para estudar ciência de dados!'

In [ ]:
s.split() #Divide a string por espaços em branco (padrão)

['Data',
 'Science',
 'Academy',
 'é',
 'uma',
 'boa',
 'plataforma',
 'para',
 'estudar',
 'Ciência',
 'de',
 'Dados!']

In [ ]:
s.split('y') #Divide a string por em um elemento especifico (o elemento não aparece no retorno)

['Data Science Academ', ' é uma boa plataforma para estudar Ciência de Dados!']

Funções String

In [53]:
s = 'seja bem vindo ao universo da Linguagem Python!'

In [54]:
s

'seja bem vindo ao universo da Linguagem Python!'

In [ ]:
s.capitalize() #Apenas a primeira letra da string "capitaliza"

'Seja bem vindo ao universo da linguagem python!'

In [ ]:
s.count('a') #Retorna quantas vezes aparece o elemento na string

4

In [59]:
s.isalnum()

False

In [60]:
s.islower()

False

In [61]:
s.endswith('o')

False

In [62]:
s.endswith('!')

True

In [ ]:
n = '1000' #É uma string que representa um número, não um número em si para operações matemáticas

In [65]:
n.isalnum()

True

Comparando String

In [66]:
# '=' = atribuição
# '==' = igualdade
print("Python" == "R")

False

In [67]:
print("Python" == "Python")

True

In [ ]:
print("Python" == "python") #Como dito, maiusculas e minusculas possuem valor diferente, logo mesmo que seja a mesma palavra, esse detalhe os torna diferente para o Python

False